<h2>Readme</h2>

<p>
    Projeto feito em 2 etapas (Front-End e Beck-End). <br>
    O Front-end consome o JSON da API criada no Beck-End. 
</p>


<h4 class="mt-5">Front-End</h4>
<p>
    É possivel navegar através do projeto clicando <a href="/users">aqui</a> ou em Users no meu superior. <br>
</p>


<h4 class="mt-5">API</h4>
<p>
    Supondo que o servidor está rodando na porta 3000, é possível consumir a API através das rotas a seguir: <br><br>
    <strong class="ml-3"> GET - /api/users?since={number} </strong> - Retorna a lista de usuários do GitHub. since é opcional. <br>
        <span class="ml-5">Ex: localhost:3000/api/users</span> <br>
        <span class="ml-5">Ex: localhost:3000/api/users?since=50</span> <br><br>
    <strong class="ml-3"> GET - /api/users/:username/details </strong> - Retorna os detalhes de um usuário do GitHub <br>
        <span class="ml-5">Ex: localhost:3000/api/users/mojombo/details</span> <br><br>

    <strong class="ml-3"> GET - /api/users/:username/repos </strong> - Retorna todos os repositórios de um usuário do GitHub <br>
        <span class="ml-5">Ex: localhost:3000/api/users/mojombo/repos</span> <br><br>
</p>

