<h2 class="mt-3 mb-3">Lista de usuários GitHub</h2>


<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th class="text-center" scope="col"></th>
            <th class="text-center" scope="col">#ID</th>
            <th class="text-center" scope="col">Login</th>
            <th class="text-center" scope="col">Tipo</th>
            <th class="text-center" scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
            <tr class="align-items-center">
                <td align="center" class="align-middle"><img src="{{ avatar_url }}" alt="{{ login }}" width="40"></td>
                <td align="center" class="align-middle">{{ id }}</td>
                <td align="center" class="align-middle">{{ login }}</td>
                <td align="center" class="align-middle">{{ type }}</td>
                <td align="center" class="align-middle"><a href="/users/{{ login }}/details">Detalhes</a> | <a href="/users/{{ login }}/repos">Repositórios</a></td>
            </tr>
        {{else}}

        {{/each}}
    </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="/users?since=0">Primeira Página</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="/users?since={{ lastSince }}">Proxima Página</a>
    </li>
  </ul>
</nav>

