<h2 class="mt-3 mb-3">Detalhes do usuário</h2>

<div class="card mb-3" style="max-width: 740px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{ user.avatar_url }}" class="card-img" alt="{{ user.login }}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
            {{ user.name }}
            <p class="small text-secondary">{{ user.login }}</p>
        </h5>
        <p class="card-text m-0">Blog: {{ user.blog }}</p>
        <p class="card-text m-0">Localização: {{ user.location }}</p>
        <p class="card-text m-0">Email: {{ user.email }}</p>
        <p class="card-text m-0">Repositórios públicos: {{ user.public_repos }}</p>
        <p class="card-text m-0">Seguidores: {{ user.followers }}</p>
        <p class="card-text m-0">Seguindo: {{ user.following }}</p>
        <p class="card-text m-0"><small class="text-muted">Cadastrado em: {{ user.created_at }}</small></p>

        <a href="/users/{{ user.login }}/repos" class="m-3" style="position: absolute; top:0; right:0;">Ver Repositórios</a>
      </div>
    </div>
  </div>
</div>