<div class="card mb-3">
    <div class="row col-2 align-self-center mt-3">
        <img src="{{ user.avatar_url }}" class="card-img-top" width="120px" style="width: 120px !important; height: 120px !important;">
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <h5 class="card-title m-3">Repositórios do usuário {{ user.name }} / <small>{{ user.login }}</small></h5>
        </div>

        <div class="row">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Linguagem</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Criado em</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each repositories}}
                        <tr>
                            <th scope="row">{{ id }}</th>
                            <td>{{ name }}</td>
                            <td>{{ language }}</td>
                            <td>{{ description }}</td>
                            <td>{{ created_at }}</td>
                        </tr>
                    {{else}}

                    {{/each}}
                    
                </tbody>
            </table>
        </div>
        
        
    </div>
</div>